body {
    background-color: #a2d2ff;
    
    background-size: cover;
}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
  }

  input{
    margin-top: 20px;
    margin-left: 5px;
    width: 280px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.247);
}

#btn{
    width: 150px;
    height: 50px;
    margin-top: 25px;
    border-radius: 8px;
    background-color: rgb(30, 30, 255);
    color: mintcream;
    font-size: 20px;
    box-shadow: orange;
    border-width: 2px;
    border-color:gold;}
